	@*</div>*@
<table style="height:100%;width:100%;margin-top:10px;table-layout:fixed;">
	@for (int i = 0; i < 5; i++)
	{
		<tr style="height:20%">
			@for (int j = 0; j < 5; j++)
			{
				<td>
					<button class="command-button" style="height:80%;width:80%;background-color:@Html.Raw(ViewBag.Colors[i*5+j]);font-size:large;font-weight:700" id="@(i*5+j)">
						<span class="icon mif-share">@Html.Raw(ViewBag.Words[i * 5 + j])</span>
					</button>
				</td>
			}
		</tr>
	}
</table>